<ion-header>
  <ion-toolbar>
    <ion-title>Agregar_Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="formulario">

    <ion-item>
      <ion-label>Nombre Producto: </ion-label>
      <ion-input placeholder="..." [(ngModel)]='nombre'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoria: </ion-label>
      <ion-select [(ngModel)]='categoria' (ngModelChange)="Visible()">
        <ion-select-option value="Tecnología">{{tecnologia}}</ion-select-option>
        <ion-select-option value="Hogar">{{hogar}}</ion-select-option>
        <ion-select-option value="Inmobiliaria">{{inmobiliaria}}</ion-select-option>
        <ion-select-option value="Motor">{{motor}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list id="motor" *ngIf="MotorOculto == false">
      <ion-list-header>
        <ion-label>
          Categoria Motor
        </ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-select multiple="false" cancelText="Nah" okText="Okay!" [(ngModel)]='categoriaMotor'>
          <ion-select-option value="coche">Coche</ion-select-option>
          <ion-select-option value="moto">Moto</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label>Km del veichulo: </ion-label>
        <ion-input type='number' [(ngModel)]='KmVehichulo'></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Año de fabricacion: </ion-label>
        <ion-datetime displayFormat="YYYY" placeholder="2020" [(ngModel)]='anyoFabricacion'></ion-datetime>
      </ion-item>
    </ion-list>

    <ion-list id="Inmobiliaria" *ngIf="InmobiliariaOculto == false">
      <ion-list-header>
        <ion-label>
          Categoria Inmobiliaria
        </ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>M² de la vivienda: </ion-label>
        <ion-input type='number' [placeholder]=placeHolder [(ngModel)]='metrosVivienda'></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Numero de habitaciones: </ion-label>
        <ion-input type='number' [placeholder]=placeHolder [(ngModel)]='numeroHabitaciones'></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Numero de baños: </ion-label>
        <ion-input type='number' [placeholder]=placeHolder [(ngModel)]='numeroBanyos'></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Localidad: </ion-label>
        <ion-input placeholder="Madrid" [(ngModel)]='localidad'></ion-input>
      </ion-item>
    </ion-list>

    <ion-list id="Tecnología" *ngIf="TecnologiaOculto == false">
      <ion-list-header>
        <ion-label>
          Tecnología
        </ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Estado del producto: </ion-label>
        <ion-select multiple="false" cancelText="Nah" okText="Okay" [(ngModel)]='estado'>
          <ion-select-option value="Nuevo">Nuevo</ion-select-option>
          <ion-select-option value="Usado">Usado</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item> 
      <ion-label>Precio del producto: </ion-label>
      <ion-input type='number' min=0 [(ngModel)]='precio'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descripción: </ion-label>
      <ion-textarea [(ngModel)]='descripcion'></ion-textarea>
    </ion-item>

    <ion-button color="dark" size="large" (click)="insertar()">Agregar Producto</ion-button>
    <ion-button class="boton" size='large' routerLink="/home">Atras</ion-button>  
  </div>

  
</ion-content>