<ion-header>
  <ion-toolbar>
    <ion-title>ProductList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of hogares">
    <ion-card-header>
    <ion-card-title>Producto {{item.nombre}} ({{item.precio}} €) </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Categoria: {{item.categoria}}</ion-label>     
    </ion-card-content>

    <ion-card-content>    
      <ion-label>Descripcion: {{item.descripcion}}</ion-label>
    </ion-card-content>

    <ion-card-content>    
      <ion-button color="dark" size="large" (click)="Like()">Like</ion-button>
    </ion-card-content>

    <ion-button expand="block" [routerLink]="['/details/',item.id,item.categoria]" routerDirection="forward">Detalles</ion-button>

  </ion-card>
  <ion-card *ngFor="let item of tecnologias">
    <ion-card-header>
    <ion-card-title>Producto {{item.nombre}} ({{item.precio}} €) </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Categoria: {{item.categoria}}</ion-label>     
    </ion-card-content>

    <ion-card-content>    
      <ion-label>Descripcion: {{item.descripcion}}</ion-label>
    </ion-card-content>

    <ion-card-content>    
      <ion-button color="dark" size="large" (click)="Like()">Like</ion-button>
    </ion-card-content>

    <ion-button expand="block" [routerLink]="['/details/',item.id,item.categoria]" routerDirection="forward">Detalles</ion-button>

  </ion-card>
  <ion-card *ngFor="let item of motores">
    <ion-card-header>
    <ion-card-title>Producto {{item.nombre}} ({{item.precio}} €) </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Categoria: {{item.categoria}}</ion-label>     
    </ion-card-content>

    <ion-card-content>    
      <ion-label>Descripcion: {{item.descripcion}}</ion-label>
    </ion-card-content>

    <ion-card-content>    
      <ion-button color="dark" size="large" (click)="Like()">Like</ion-button>
    </ion-card-content>

    <ion-button expand="block" [routerLink]="['/details/',item.id,item.categoria]" routerDirection="forward">Detalles</ion-button>

  </ion-card>
  <ion-card *ngFor="let item of inmuebles">
    <ion-card-header>
    <ion-card-title>Producto {{item.nombre}} ({{item.precio}} €) </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Categoría: {{item.categoria}}</ion-label>     
    </ion-card-content>

    <ion-card-content>    
      <ion-label>Descripción: {{item.descripcion}}</ion-label>
    </ion-card-content>

    <ion-card-content>    
      <ion-button color="dark" size="large" (click)="Like()">Like</ion-button>
    </ion-card-content>

    <ion-button expand="block" [routerLink]="['/details/',item.id,item.categoria]" routerDirection="forward">Detalles</ion-button>

  </ion-card>
</ion-content>
