<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Examen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button text-align="center" expand="block" [routerLink]="['/product-insert']" routerDirection="forward">Insertar productos</ion-button>
  <ion-button text-align="center" expand="block" [routerLink]="['/product-list']" routerDirection="forward">Listado de productos</ion-button>
  <ion-button text-align="center" expand="block" [routerLink]="['/like']" routerDirection="forward">Productos que me gustan</ion-button>
</ion-content>