<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let item of producto">
    <ion-card-header>
    <ion-card-title>Producto {{producto.nombre}} ({{producto.precio}} €) </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Categoría: {{producto.categoria}}</ion-label>     
    </ion-card-content>
    
    <ion-card-content *ngIf="producto.categoria == 'Tecnología'">
      <ion-label>Estado: {{producto.estado}}</ion-label>     
    </ion-card-content>


    <ion-card-content *ngIf="producto.categoria == 'Motor'">
      <ion-label>Categoria del motor: {{producto.categoriaMotor}}</ion-label>     
    </ion-card-content>
    <ion-card-content *ngIf="producto.categoria == 'Motor'">
      <ion-label>Km del vehichulo: {{producto.KmVehichulo}} Km</ion-label>     
    </ion-card-content>
    <ion-card-content *ngIf="producto.categoria == 'Motor'">
      <ion-label>Año de fabricacion: {{producto.anyoFabricacion}}</ion-label>     
    </ion-card-content>


    <ion-card-content *ngIf="producto.categoria == 'Inmobiliaria'">
      <ion-label>Metros de la vivienda: {{producto.metrosVivienda}}</ion-label>     
    </ion-card-content>
    <ion-card-content *ngIf="producto.categoria == 'Inmobiliaria'">
      <ion-label>Número de baños: {{producto.numeroBanyos}}</ion-label>     
    </ion-card-content>
    <ion-card-content *ngIf="producto.categoria == 'Inmobiliaria'">
      <ion-label>Número de habitaciones: {{producto.numeroHabitaciones}}</ion-label>     
    </ion-card-content>
    <ion-card-content *ngIf="producto.categoria == 'Inmobiliaria'">
      <ion-label>Localidad: {{producto.localidad}}</ion-label>     
    </ion-card-content>

    <ion-card-content>    
      <ion-label>Descripción: {{producto.descripcion}}</ion-label>
    </ion-card-content>

</ion-content>
